<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="topcheer">
	<select id="getUserList" resultType="com.topcheer.restful.myfirstrestfulapp.dto.User">
		SELECT
		user_name,
		pass_word
		from 
		user_info
	</select>
	<insert id="insertUser" parameterType="com.topcheer.restful.myfirstrestfulapp.dto.User">
		insert into user_info (user_name,pass_word) 
		value(#{user_name},#{pass_word});
	</insert>
	<update id="updateUser"  parameterType="com.topcheer.restful.myfirstrestfulapp.dto.User" >
		update user_info set pass_word = #{pass_word}
		where user_name = #{user_name}
	</update>
	<delete id="delUser" parameterType="com.topcheer.restful.myfirstrestfulapp.dto.User">
		delete from user_info where user_name = #{user_name}
	</delete>
	<select id="queryUser" parameterType="com.topcheer.restful.myfirstrestfulapp.dto.User" resultType="com.topcheer.restful.myfirstrestfulapp.dto.User">
		select user_name,pass_word from user_info where user_name = #{user_name}
	</select>
</mapper>
